@use "../variables" as *;
@use "../media" as *;

.btn {
    width: max-content;

    background-color: $carrot;
    color: $light;

    border-radius: 40px;
    padding: 16px 24px;
    font-weight: 700;
    text-align: center;
    outline: 1px solid transparent;

    transition-property: background-color, transform;
    transition-duration: 0.2s, 0.1s;
    transition-timing-function: ease-in-out;

    &--arrow {
        display: flex;
        gap: 4px;
        align-items: center;

        &:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url("/img/arrow-up.svg") no-repeat center/contain;
        }
    }

    &:hover {
        background-color: darken($carrot, 4);
    }

    &:focus-visible  {
        outline: 1px solid $carrot;
    }

    &:active {
        transform: scale(0.94);
    }

    &--green {
        background-color: $green;
        &:hover {
            background-color: #00772f;
        }
    }
    &--purple {
        background-color: $purple;
        &:hover {
            background-color: #981fd1;
        }
    }

    @include laptop {
        padding: 16px 36px;
    }

    @include laptop {
        padding: 16px 36px;
    }

    @include mobile {
        padding: 11px 24px;
    }
}